<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="biya.acharya">
      	<methods>
      		
      			<include name="Metrics_coords"></include>
      			<include name="Metrics_zip"></include>
      			<include name="Metrics_locId"></include>
      		</methods>
      </class>
      
       
    </classes>
  </test> <!-- Te
  <class name="afcon.guinea">
      		<parameter name="a" value="nottingham"></parameter>
      		<methods>
	      		
	      		
	        </methods>
      </class>
  
  st -->
</suite> <!-- Su
<parameter name="siu" value="liverpool"></parameter>
<include name="alag"></include>
      			<include name="weatherWithMetrics"></include>
      			sameCityAPI_US
      			<exclude name="sameCityAPI_IN"></exclude>
      			<exclude name="sameCityAPI_SL"></exclude>
      			<exclude name="sameCityAPI_PK"></exclude>
      			<exclude name="sameCityAPI_IN"></exclude>
      			<exclude name="sameCityAPI_SL"></exclude>
      			<exclude name="sameCityAPI_PK"></exclude>
      			<exclude name="sameCityAPI_BD"></exclude>
      			ite -->
